@font-face { font-family: 'icomoon'; src: url('../font/icomoon/fonts/icomoon.eot?1591950680') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1591950680') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1591950680') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1591950680') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-Arrow-right-circle---simple-line-icons:before { content: "\e901"; }

.icon-ion-link---Ionicons:before { content: "\e902"; }
